// override default multiselect styles
.multiselect {
  width: calc(100% - #{$buttonWidth} - #{$buttonLeftMargin});

  .multiselect__tags {
    background: $transparentLight;
    padding: 10px;
    border-radius: 0;
    height: $buttonHeight;
  }

  .multiselect__input,
  .multiselect__single {
    background: transparent;
    color: white;
  }

  .multiselect__single {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .multiselect__content-wrapper {
    background: $transparentLight;
  }

  .multiselect__input::placeholder, .multiselect__placeholder {
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .multiselect {
    margin-bottom: 20px;
  }
}
